@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

primary-colour = #e67e22
grey = #ecf0f1
radius = 3px
width = 700px

html
  height 100%

body
  background grey
  font-family 'Roboto Mono', monospace
  height 100%
  margin 0

  #root
    height 100%

button
  background primary-colour
  border 0
  border-radius radius
  color white
  cursor pointer
  font-size 0.9em
  outline none

.cat
  align-items center
  display flex
  flex-flow column nowrap
  height 100%

  header
    padding 40px 0
    text-align center
    transition 1s

    h1
      font-size: 4em
      margin 0

    @media screen and (max-width: width)
      padding 20px 0

      h1
        font-size: 2em

  main
    background white
    border-radius radius
    display flex
    flex-flow column nowrap
    flex-grow 1
    margin-bottom 10px
    width width

    @media screen and (max-width: width)
      margin-bottom: 0
      width 100%

    section
      flex-grow 1
      padding 5px
      overflow-y auto

      p
        margin 0

        &:not(:last-of-type)
          margin-bottom 4px

        .author
          color primary-colour
          margin-right 15px

    nav
      align-items center
      background alpha(primary-colour, 30%)
      border-radius 0 0 radius radius
      display flex
      flex-flow row nowrap
      justify-content center
      padding 10px 10px

      input
        background alpha(white, 40%)
        border none
        border-radius radius
        flex-grow 1
        font-family inherit
        font-size 1em
        margin-right 10px
        outline none
